<footer>
  <div class="footer_wrap w1380">
    <div class="footer_icon">
      <span><img src="img/8.footer/ytu.png" alt="">유튜브</span>
      <span><img src="img/8.footer/fbook.png" alt="">페이스북</span>
      <span><img src="img/8.footer/insta.png" alt="">인스타그램</span>
    </div>
    <div class="footer_bottom">
      <div class="footer_bold">
        <p>이용약관</p>
        <p>개인정보취급방침</p>
        <p>이메일주소무단수집거부</p>
      </div>
      <p>SSL보안인증<br>
        COPYRIGHT © <br class="mobile"> 2022. SONY KOREA CORPORATION.<br class="mobile"> ALL RIGHTS RESERVED.
        </p>
      <span>
          사업장주소 :서울특별시 영등포구 국제금융로 10 원아이에프씨 24F <br>
          사업자등록번호 :106-81-23810 <br>
          통신판매번호 2012-서울영등포-1038 소니코리아 (주) <br>
          대표이사 : Okura Kikuo | 개인정보관리책임자 : Okura Kikuo <br>
          본 사이트의 컨텐츠는 저작권법의 보호를 받는 바, <br>
          상업적 목적의 무단전재, 복사, 배포 등을 금합니다. <br><br>
          TEL : 소니코리아 고객지원센터 1588-0911<br class="mobile"> E-MAIL : cshelp@sony.co.kr
      </span>
    </div>
  </div>
</footer>