<header>
  <div class="header_wrap">
    <div class="header_top">
      <div class="m_nav mobile">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <h1 class="logo"><a href="/"></a></h1>
      <div class="info">
        <ul class="icon">
          <li id="search"><a href=""></a></li>
          <li class="desk" id="user">
            <div class="login_none">
              <div class="user_login">
                <span><a href="login">로그인</a></span>
                <span><a href="join">회원가입</a></span>
              </div>
            </div>
          </li>
          <li id="heart"><a href=""></a></li>
        </ul>
        <div class="company desk">
          <a href="">회사소개</a>
        </div>
      </div>
    </div>
    <div class="header_bottom m_nav_tab">
      <ul class="nav_tab">
        <li><a href="store">스토어</a></li>
        <li><a href="notice">고객지원</a></li>
        <li><a href="camerainfo">카메라</a></li>
        <li><a href="">오디오</a></li>
        <li><a href="">PlayStation</a></li>
        <li><a href="">매장찾기</a></li>
        <li class="mobile"><a href="login">로그인</a></li>
        <li class="mobile"><a href="join">회원가입</a></li>
      </ul>
    </div>
  </div>
</header>
<script src="js/headertab.js"></script>
<script src="js/main.js"></script>