<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>소니코리아 | 최신 기술 및 소식 | 전자제품 | 엔터테인먼트</title>
  <link rel="stylesheet" href="css/common/reset.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/notice.css">
  <link rel="stylesheet" href="css/write.css">
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="css/store.css">
  <link rel="stylesheet" href="css/join.css">
  <link rel="stylesheet" href="css/camerainfo.css">
  <link rel="stylesheet" href="css/proView.css">
</head>

<body>
  <div id="header">
    <%- include('header') %>
  </div>
  <main>
    <%- body %>
  </main>
  <div id="footer">
    <%- include('footer') %>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<script src="js/swiper.js"></script>

</html>