<section class="main-select">
  <h2>내게 맞는 찰떡 궁합 안경형은?</h2>
  <div class="select_type">
    <span class="checktype">얼굴형 추천</span>
    <span class="check_toggle">
      <input type="checkbox" class="toggle-check">
      <label for="toggle-slide" class="toggle-slide"></label>
    </span>
    <span class="checktype">디자인 추천</span>
  </div>
<form class="selectform" action="/glassesform" method="post" onsubmit="return selectCheck()">
  <input type="radio" hidden name="type" class="radio-check" value="얼굴형" checked>
  <input type="radio" hidden name="type" class="radio-check" value="디자인">
  <div class="face_type">
    <h3>나는</h3>
      <div class="type-select">
        <img src="img/eggface.png" alt="">
        <div class="ment">
          <p class="ment-head">달걀형</p>
          <p class="ment-explanation"> 얼굴 얼굴이 달걀모양처럼 위에는 동그랗고 턱으로 내려오면서 얇아지는 얼굴형<br>
            슬림하고 샤프한 얼굴 라인이 특징적입니다. </p>
        </div>
      </div>
      <div class="type-select">
        <img src="img/ciface.png" alt="">
        <div class="ment">
          <p class="ment-head">둥근형</p>
          <p class="ment-explanation"> 얼굴의 세로보다 가로 비율이 넓어, 전체적으로 부드러운 느낌을 주는 얼굴형입니다.</p>
        </div>
      </div>
      <div class="type-select">
        <img src="img/squareface1.png" alt="">
        <div class="ment">
          <p class="ment-head">사각형</p>
          <p class="ment-explanation"> 이마와 볼이 넓 턱이 도드라지는 얼굴형으로 직선적이고 깔끔한  느낌을 주는 얼굴형입니다. </p>
        </div>
      </div>
    <div class="type-select">
      <img src="img/trreverface.png" alt="">
      <div class="ment">
        <p class="ment-head">역삼각형</p>
        <p class="ment-explanation"> 이마가 상대적으로 넓고 턱으로 내려올수록 얼굴이 좁아지는 얼굴형 <br>
          날카로운 얼굴 라인입니다. </p>
      </div>
    </div>
    <input type="radio" name="checktype" class="radio-display" value="달걀형">
    <input type="radio" name="checktype" class="radio-display" value="둥근형">
    <input type="radio" name="checktype" class="radio-display" value="사각형">
    <input type="radio" name="checktype" class="radio-display" value="역삼각형">
  </div>
  <div class="design_type typecheck">
    <h3>내가 원하는 느낌은</h3>
    <div class="type-select">
      <p class="design_img nature"></p>
      <div class="ment">
        <p class="ment-head">네츄럴한 디자인</p>
        <p class="ment-explanation">안경을 쓴듯 안 쓴듯, 원래의 내 느낌을 그대로 가져가고 싶어요.</p>
      </div>
    </div>
    <div class="type-select">
      <p class="design_img suit"></p>
      <div class="ment">
        <p class="ment-head">단정한 디자인</p>
        <p class="ment-explanation">안경을 써서 차분하고 단정한 느낌을 주고 싶어요.</p>
      </div>
    </div>
    <div class="type-select">
      <p class="design_img soft"></p>
      <div class="ment">
        <p class="ment-head">부드러운 디자인</p>
        <p class="ment-explanation">안경으로 부드러운 이미지를 연출하고 싶어요.</p>
      </div>
    </div>
    <div class="type-select">
      <p class="design_img style"></p>
      <div class="ment">
        <p class="ment-head">감각적인 디자인</p>
        <p class="ment-explanation"> 어디에서나 어울리고, 세련된 느낌. <br>
          패션용으로도 손색 없는 안경을 원해요.</p>
      </div>
    </div>
    <input type="radio" name="checktype" class="radio-display" value="내츄럴한 디자인">
    <input type="radio" name="checktype" class="radio-display" value="단정한 디자인">
    <input type="radio" name="checktype" class="radio-display" value="부드러운 디자인">
    <input type="radio" name="checktype" class="radio-display" value="감각적인 디자인">
  </div>
  <input type="submit" class="btn" value="확인하기">
</form>
</section>

<script src="js/main.js"></script>
