<section class="glass-wrap">
  <p class="rotation">마우스를 클릭해서 안경을 돌려보세요</p>
  <input type="hidden" name="" id="cnum1" value="<%= count5.cnt %>">
  <input type="hidden" name="" id="cnum2" value="<%= count6.cnt %>">
  <h2><span class="countsum"></span>명 에게 추천드린 무테 안경!</h2>
  <p>프레임 없이 안경알과 안경다리로 알을 지탱하는 안경입니다. <br>
    테가 없어 다른 안경보다 가볍고, 인상을 거의 그대로 보여줄 수 있는 안경입니다.
    </p>
</section>
<script type="module" src="js/noline.js"></script>
<script src="js/numcount.js"></script>


