<section class="glass-wrap">
  <p class="rotation">마우스를 클릭해서 안경을 돌려보세요</p>
  <input type="hidden" name="" id="cnum1" value="<%= count7.cnt %>">
  <input type="hidden" name="" id="cnum2" value="<%= count8.cnt %>">
  <h2><span class="countsum"></span>명 에게 추천드린 라운드 안경!</h2>
  <p>이름대로 동그란 안경 프레임을 볼 수 있습니다. <br>
    착용한 사람의 인상을 부드럽고, 긍정적인 느낌을 주는 안경으로 인기있는 디자인입니다.
    </p>
</section>
<script type="module" src="js/round.js"></script>
<script src="js/numcount.js"></script>



