<section class="glass-wrap">
  <p class="rotation">마우스를 클릭해서 안경을 돌려보세요</p>
  <input type="hidden" name="" id="cnum1" value="<%= count3.cnt %>">
  <input type="hidden" name="" id="cnum2" value="<%= count4.cnt %>">
  <h2><span class="countsum"></span>명 에게 추천드린 사각 안경!</h2>
  <p>네모난 안경 프레임으로 샤프하고 지적인 이미지를 연출하기에 좋습니다. <br>
    얼굴을 길어 보이게 하는 효과가 있어, 둥근 얼굴형에 적합합니다.
    </p>
</section>
<script type="module" src="js/square.js"></script>
<script src="js/numcount.js"></script>



