<section class="store_view">
    <div class="store_main">
        <img src="img/9.store/store.jpg" alt="" id="storeImg">
    </div>
    <div class="store_event_notice">
        <p class="store_notice_main">이벤트 유의사항</p>
        <ul class="store_ul">
            <li>본 행사 제품은 해당 이벤트 페이지를 통해서 구매하셔야만 혜택을 받으실 수 있습니다.</li>
            <li>본 이벤트의 내용 및 일정은 당사 사정에 의하여 예고 없이 변경될 수 있습니다.</li>
            <li>본 이벤트는 한정수량으로 조기종료 될 수 있습니다.</li>
            <li>사은품은 재고 소진 시 별도의 공지 없이 대체 출고 될 수 있으며, 이는 반품, 교환, 환불의 사유가 될 수 없습니다.</li>
            <li>반품 시 사은품까지 보내주셔야 합니다. 사은품 미동봉 시 반품이 불가합니다.</li>
        </ul>
    </div>
    <div class="store_link">
        <img src="img/9.store/PRODUCTS_TITLE.jpg" alt="">
    </div>
    <div class="store_prom_wrap">
        <div class="store_prom_item">
            <a href="">
                <img src="img/9.store/THUMB_01.png" alt="">
                <p>링크버즈S 신규 컬러 런칭, 어스블루</p>
                <span>한정수량 ESG 패키지 증정(친환경 카드지갑+플래너)</span>
                <h4>249,000 원</h4>
                <div class="store_item_btn">
                    <div class="store_item_look"><img src="img/9.store/ic_prd_search.454e8bde.svg" alt=""><span class="storedesk">제품보기</span></div>
                    <div class="store_item_gift"><img src="img/9.store/ic_prd_gift.1e1390c6.svg" alt=""><span class="storedesk">선물하기</span></div>
                    <div class="store_item_push"><span>장바구니 담기</span></div>
                </div>
            </a>
        </div>
    </div>
    <div class="store_list_btn">
        <span>목록</span>
    </div>
</section>