<section class="glass-wrap">
  <p class="rotation">마우스를 클릭해서 안경을 돌려보세요</p>
  <input type="hidden" name="" id="cnum1" value="<%= count1.cnt %>">
  <input type="hidden" name="" id="cnum2" value="<%= count2.cnt %>">
  <h2><span class="countsum"></span>명 에게 추천드린 웰링턴 안경!</h2>
  <p>역 사다리 형태를 가진 안경입니다. <br>
    빈티지한 느낌을 주는 형태로, 신뢰감을 주고 안정감을 주는 이미지입니다. <br>
    어디서나 잘 어울려서 패션용 안경으로도 손색이 없습니다.
    </p>
</section>
<script type="module" src="js/well.js"></script>
<script src="js/numcount.js"></script>


