.login_wrap>p{
    padding-top: 10px;
    color: #888888;
    font-weight: 300;
}
.login_wrap>p>.bold{
    color: #666;
    font-weight: 600;
}
.login_form>table>tbody>tr>td>#date{
    width: auto;
}
.login_form>.join_btn {
    margin-top: 25px;
    width: 100%;
    padding: 24px 0;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.join_star{
    color: red;
}