/* main */
main{
  width: 100%;
}
h2{
  font-size: 28px;
  font-weight: 700;
}
h3{
  margin-top: 8px;
  font-size: 20px;
}
/* slide */
.slide{
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}
/* slide_vlog */
.vlog>a{
  width: 100%;
  display: flex;
}
.vlog_left{
  width: 50%;
  padding: 0 180px ;
  background-color: #FBFBFD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.vlog_logo{
  width: 150px;
  height: 30px;
  margin-bottom: 10px;
  background-image: url(../img/sony_logo.png);
  background-size: 100% 100%;
}
.vlog_left>p{
  width: 100%;
  display: block;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
}
.s_font{
  font-size: 20px !important;
  margin-top: 14px;
  font-weight: 500;
}
.vlog_right{
  width: 50%;
  height: 600px;
  background-image: url(../img/1_nav/slide_img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* slide a7 */
.a7{
  background: url(../img/1_nav/slide_img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.a7ment{
  padding: 180px;
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.a7ment>p{
  display: flex;
  font-size: 50px;
  font-weight: 500;
  color: #E2E2E2;
  line-height: 70px;
  padding: 0 15px;
}
.a7logo>img{
  width: 100px;
  opacity: 0.7;
}
.a7logo>span{
  color: #A6A6A6;
  font-size: 15px;
  vertical-align : top;
}
/* slide pocket */
.pocket{
  background: url(../img/1_nav/slide_img3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pocketment{
  padding: 180px;
}
.pocketlogo>img{
  width: 150px;
}
.pocketment>p{
  font-size: 50px;
  line-height: 70px;
  font-weight: 600;
}
/* main_icon */
.main_icon{
  width: 100%;
  padding: 56px 0;
  margin: 0 auto;
}
.icon_flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.icon_flex>li{
  width: 120px;
}
.icon_flex>li>a{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon_img{
  display: flex;
  align-items: center;
  width: 120px;
  height: 120px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #F8F8F8;
}
.icon_img>img{
  width: 100%;
}
/* top_eventBanner */
.eventbanner>div{
  margin-bottom: 43px;
  width: 100%;
  height: 180px;
  border-radius: 5px;
}
.eventbanner>div>a{
  height: inherit;
}
.eventbanner>div>a>.ment{
  height: inherit;
  padding-left: 122px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
}
.ment_bottom{
  margin-top: 4px;
  font-size: 16px;
  font-weight: 200;
  color: #7E7E7E;
}
.e_speaker .ment_bottom{
  color: #fff;
}
.ment_arrow{
  width: 8px;
  height: 10px;  
}
.e_academy{
 background-image: url(../img/2_top_icon/alpha_ac.png);
}
.e_speaker{
  background-image: url(../img/2_top_icon/sound_banner.png);
}
.speak_ment{
  color: #fff;
}
/* Best Rank */
.best_Rank{
  padding-bottom: 50px;
  background-color: #000;
  color: #fff;
}
.best{
  padding-top: 90px;
}
.best>.best_wrap{
  display: flex;
  justify-content: space-between;
}
.more{
  display: none;
}
.more>a{
  color: #D6D6D6;
  font-size: 13px;
}
.more_arrow{
  display: inline-block;
  background-image: url(../img/arrow_w.png);
  width: 5px;
  height: 8px;
  background-size: 100% 100%;
}
.best>h3{
  color: #D6D6D6;
}
.rank_wrap>div{
  width: 100%;
  overflow: hidden;
}
.best_tab{
  padding-top: 40px;
  display: flex;
}
.best_tab>li{
  padding:13px 40px;
  background-color: #C3C3C3;
  color: #000;
  border-radius: 35px;
  font-weight: 700;
  width: auto !important;
  cursor: pointer;
}
.click{
  background-color: #4E4E4E !important;
  color: #fff !important;
}
.best_img{
  padding-top: 52px;
  display: flex;
  justify-content: space-between;
}
.img_wrap{
  display: none;
}
.img_wrap.active{
  display: block;
}
.best_img>div{
  width: calc((100% - 48px) / 3);
  height: 444px;
  background-color: #F2F2F2;
  border-radius: 10px;
  position: relative;
}
.square{
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
}
.square>div{
  height: inherit;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DA0F4C;
}
.best_img a{
  display: block;
  height: inherit;
}
.best_img_wrap{
  width: 100%;
  height: calc(100% - 109px);
  display: flex;
  align-items: center;
}
.best_img img{
  margin: 0 auto;
  width: 250px;
}
.best_ment{
  padding-bottom: 37px;
  padding-left:32px;;
  position: absolute;
  bottom: 0;
}
.best_name{
  font-size: 20px;
  font-weight: 600;
}
.best_subname{
  font-size: 16px;
  color: #8D8D8D;
  margin-top: 4px;
}
.best_price{
  margin-top: 12px;
  font-size: 20px;
  font-weight: 600;
}
/* sony_select */
.select_wrap{
  padding-top: 65px;
}
.select_wrap>h3{
  color: #434343;
}
.select_itemBox{
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.select_item{
  width: calc((100% - 70px) / 4);
  height: 424px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #E9E9E9;
}
.select_img{
  width: 100%;
  height: 68%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select_img>img{
  width: 80%;
}
.select_ment{
  padding-left: 30px;
}
.select_ment::before{
  content: '';
  display: block;
  width: 90%;
  height: 2px;
  background-color: #CECECE;
}
.select_ment>p{
  padding-top: 25px;
  font-size: 20px;
  font-weight: 600;
}
.select_ment>h4{
  padding-top: 4px;
  font-size: 16px;
  color: #666666;
}
.select_ment>h3{
  padding-top: 16px;
  font-size: 20px;
  font-weight: 600;
}
/* event */
.event_wrap{
  padding: 130px 0 100px;
}
.event_cont{
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.event_cont>div{
 width: calc((100% - 70px) / 4);
}
.event_cont>div>img{
  width: 100%;
  height: 327px;
  border-radius: 10px;
}
.event_cont>div>p{
  padding-top: 22px;
  font-size: 20px;
}
/* rego */
.rego{
  background-color: #000;
  padding: 100px 0;
  height: auto;
}
.rego_wrap{
  display: flex;
  justify-content: space-between;
}
.rego_wrap>h2{
  width: 25%;
  padding-top: 35px;
  color: #fff;
}
.rego_wrap>div{
  width: 75%;
  display: flex;
}
.rego_cont{
  width: calc((100% - 60px) / 3);
  flex-shrink: unset;
}
.rego_cont>img{
  border-radius: 10px;
  width: 320px;
  height: 320px;
}
.rego_cont>p{
  padding-top: 18px;
  font-weight: 700;
  font-size: 14px;
  color: #979797;
}
.rego_cont>span{
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #BFBFBF;
  padding-top: 8px;
}
/* event_bottom_banner */
.bottom_event_wrap{
  padding: 120px 0;
}
.bottom_event_wrap>div{
  width: 100%;
  height: 180px;
  margin-bottom: 25px;
  border-radius: 10px;
}
.linkbugs{
  background-image: url(../img/6.rego_event/Event_banner2.jpg);
  background-size: 100% 100%;
}
.membership{
  background-image: url(../img/6.rego_event/membership_kv_vippcimg.ebeefbf9.jpg);
  background-size: 100%;
  background-position-y: -70px;
  /* background-repeat: no-repeat; */
}
.bottom_event_ment{
  height: 100%;
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.membership>.bottom_event_ment{
  color: #fff;
}
.bottom_event_ment>p{
  padding-top: 10px;
  display: block;
}
.bottom_event_ment>p>img{
  padding-left: 5px;
  width: 8px;
}
/* store */
.store{
  background-color: #000;
  padding: 100px 0;
  border-bottom: 2px solid #5D5D5D;
}
.store_wrap{
  display: flex;
  justify-content: space-between;
}
.store_ment{
  padding-top: 80px;
  color: #fff;
  width: 320px;
}
.store_ment>h3{
  color: #ABABAB;
}
.store_img{
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.store_img>div{
  width: calc(50% - 12.5px);
  height: 200px;
  background-color: #EEEEEE;
  margin-bottom: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.store_img_ment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 25px;
}
.store_img_ment>p{
  font-size: 16px;
  color: #7A7A7A;
}
.store_img_ment>span{
  font-size: 24px;
  font-weight: 700;
  padding-top: 10px;
}
.store_img>div>img{
  padding-top: 50px;
  padding-right: 25px;
}
/* footer */
footer{
  width: 100%;
  background-color: #000;
  color: #fff;
}
.footer_icon{
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.footer_icon>span{
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.footer_icon>span>img{
  margin-right: 5px;
}
.footer_bottom{
  padding: 25px 0 50px; 
}
.footer_bold{
  display: flex;
}
.footer_bold>p{
  padding-right: 10px;
}
.footer_bottom>p{
  padding-top: 10px;
  font-weight: lighter;
  line-height: 20px;
  color: #E0E0E0;
}
.footer_bottom>span{
  display: block;
  padding-top: 30px;
  font-weight: lighter;
  color: #AFAFAF;
  line-height: 20px;
}
@media (max-width: 1279px){
  /* 슬라이드 */
  /* vlog */
  .vlog_left {
    padding: 0 100px;
}
  .vlog_left>p{
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
  }
  /* a7 */
  .a7{
    background-position: 50%;
    background-size: cover;
  }
  .a7ment{
    padding: 100px;
  }
  .a7ment>p{
    font-size: 40px;
    line-height: 60px;
  }
  .a7logo>img{
    width: 80px;
  }
  .a7logo>span{
    font-size: 14px;
  }
  
/* slide pocket */
.pocket{
  background-size: cover;
  background-position: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pocketment{
  padding: 100px;
}
.pocketlogo>img{
  width: 80px;
}
.pocketment>p{
  font-size: 40px;
  line-height: 60px;
}
  /* 아이콘 */
  .main_icon{
    width: 100%;
    padding: 24px ;
  }
  .icon_flex>li{
    width: 25%;
    padding-bottom: 14px;
  }
  /* 베스트 랭킹 */
  .more{
    display: block;
  }
  .best_tab>li{
    margin-bottom: 8px;
  }
  .best_img{
    display: flex;
    flex-direction: column;
    padding-top: 32px;
  }
  .best_img>div{
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
  }
  .best_img>div>a{
    display: flex;
  }
  .best_img_wrap{
    width: auto;
    height: auto;
    padding: 24px 24px 24px 72px;
  }
  .best_img img{
    width: 170px;
    margin: 0;
    padding: 0;
  }
  .best_ment{
    padding-top: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: inherit;
  }
  /* 추천제품 */
  .select_ment {
    padding-left: 20px;
}
  .select_ment>p{
    padding-top: 15px;
    font-size: 18px;
  }
  .select_ment>h4{
    font-size: 14px;
  }
  .select_ment>h3{
    padding-top: 10px;
    font-size: 18px;
  }
  /* 기획전 */
  .event_cont>div{
    width: calc((100% - 40px) / 4);
   }
  /* 정품등록 이벤트 */
  .rego_wrap {
    display: block;
  }
  .rego_wrap>h2 {
    padding: 0 0 30px;
    width: 100%;
  }
  .rego_event {
    width: 100%;
  }
/* store */
.store_img>div {
  height: 150px;
}
.store_img_ment>p{
  font-size: 14px;
  }
.store_img>div>img{
  padding-top: 50px;
  }
} 
@media (max-width: 767px) {
  /* 슬라이드 */
  .slide{
    position: relative;
    top: -58px;
    z-index: 10;
  }
  /* vlog */
  .vlog>a{
    width: 100%;
    display: block;
    position: relative;
  }
  .vlog_left{
    padding: 0;
    position: absolute;
    width: 100%;
    background-color:transparent;
    z-index: 20;
    text-align: center;
    margin-top: 450px;
  }
  .vlog_left>p{
    display: block;
    font-size: 30px;
    line-height: 27px;
  }
  .vlog_right{
    width: 100%;
    position: absolute;
    top: 0;
    background-position: center center;
    z-index: 10;
  }
  /* a7 */
  .a7::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #fff;
    top: 0;
  }
  .a7{
    background-position: 60%;
    background-size: cover;
  }
  .a7ment{
    margin-top: 400px;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .a7ment>p{
    font-size: 30px;
    line-height: 30px;
  }
  .a7logo>img{
    width: 60px;
  }
  .a7logo>span{
    font-size: 12px;
  }
  /* pocket */
  .pocket{
    background-position: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .pocketment{
    margin-top: 400px;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pocketlogo>img{
    width: 60px;
  }
  .pocketment>p{
    font-size: 30px;
    line-height:30px;
  }
  /* 아이콘 */
  .main_icon{
    padding: 0 24px 24px 24px ;
  }
  .icon_flex>li{
    width: calc((100% - 42px) / 4);
    padding-bottom: 14px;
  }
  .icon_img {
    width: 100px;
    height: 100px;
  }
  /* 이벤트 배너 */
  .eventbanner{
    margin: 40px 0;
  }
  .eventbanner>div{
    height: 116px;
    margin-bottom: 12px;
  }
  .eventbanner>div>a>.ment{
    padding-left:34px;
    font-size: 15px;
    color: #fff;
  }
  .ment_bottom{
    margin-top: 6px;
    font-size: 13px;
    color: #fff;
  }
  .e_academy{
    background-image: url(../img/2_top_icon/alpha_ac.png);
    background-position: -100% center;
   }
   .e_speaker{
     background-image: url(../img/2_top_icon/sound_banner.png);
     background-position: -100% center;
   }
   /* 베스트 제품 */
   .best {
    padding-top: 40px;
  }
  .best_img_wrap {
    padding:24px;
  }
  .best_img img {
    width: 140px;
  }
  .best_name {
    font-size: 16px;
  }
  .best_subname {
    font-size: 14px;
  }
  .best_price {
    margin-top: 10px;
    font-size: 16px;
  }
   /* 추천제품 */
   .select_wrap {
    padding-top: 40px;
  }
  .select_itemBox {
    padding-top: 20px;
  }
   .select_ment {
    padding-left: 15px;
  }
  .select_item {
    width: 230px !important;
    height: 260px !important;
  }
  .select_img>img {
    width: 65%;
  }
  .select_ment>p{
    padding-top: 12px;
    font-size: 14px;
  }
  .select_ment>h4{
    padding-top: 7px;
    font-size: 11px;
  }
  .select_ment>h3{
    padding-top: 0px;
    font-size: 14px;
  }
  /* 기획전 */
  .event_wrap {
    padding: 40px 0;
  }
  .event_cont>div{
    width: calc((100% - 20px) / 2);
    padding-bottom: 30px;
   }
   .event_cont>div>p{
    padding-top: 12px;
    font-size: 20px;
  }
  .event_cont>div>img {
    height: 250px;
 }
 /* 정품등록 이벤트 */
 .rego {
  padding: 40px 0;
  }
  .rego_wrap>div {
    width: 100%;
  }
 /* 하단 이벤트 배너*/
.bottom_event_wrap{
  padding: 40px 0;
}
.bottom_event_wrap>div{
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
}
.linkbugs{
  background-image: url(../img/6.rego_event/Event_banner2.jpg);
  background-size: cover;
  background-position-x: 100%;
  background-repeat: no-repeat;
}
.membership{
  background-image: url(../img/6.rego_event/membership_kv_vippcimg.ebeefbf9.jpg);
  background-size: cover;
  background-position-y: 0px;
}
.bottom_event_ment{
  padding-left: 23px;
}
.bottom_event_ment>h2{
  font-size: 15px;
}
.bottom_event_ment>p{
  font-size: 13px;
  display: flex;
  height: auto;
}
.bottom_event_ment>p>img{
  padding-left: 5px;
  width: 5px;
}
/* 스토어 */
.store {
  padding: 40px 0;
}
.store_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  }
  .store_ment {
    padding-top: 0px;
    width: 100%
  }
  .store_img {
    padding-top: 35px;
    width: 100%;
  }
  .store_img>div {
    width: 100%;
  }
  /* footer */
  .footer_bottom {
    padding: 25px 45px 50px;
  }
}
@media (max-width: 380px) {
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  /* 아이콘 */
  .icon_img {
    width: 75px;
    height: 75px;
  }

  /* 상단 이벤트 배너 */
  .e_academy {
    background-position: -40%;
  }
  .e_speaker {
    background-position: -50%;
  }
  /* 베스트랭킹 */
  .best {
    padding-top: 24px;
  }
  /* 하단 이벤트 배너 */
  .event_cont>div>img {
    height: 200px;
  }
  .event_cont>div>p {
    font-size: 16px;
    }
  /* footer */
  .footer_icon{
    padding: 10px 0;
    justify-content: flex-start;
  }
  .footer_icon>span{
    padding-left: 0px;
  }
  .footer_icon>span:nth-child(2){
    padding: 0 10px;
  }
  .footer_bottom{
    padding: 15px 0; 
  }
  .footer_bold{
    width: 100%;
    flex-wrap: wrap;
  }
  .footer_bold>p{
    padding: 0;
    width: 50%;
    font-size: 14px;
  }
  .footer_bold>p:last-child{
    padding: 15px 0;
    width: 100%;
  }
  .footer_bottom>p{
    font-size: 14px;
  }
  .footer_bottom>span{
    font-size: 14px;
  }
}